:root { 
    --circle-custom-style: #ffffff;
    --silver: #cbc9c9;
    --tundora: #464646;
   
    --font-size-l2: 14px;
    --font-size-m2: 12px;
    --font-size-xl: 16px;
   
    --font-family-open_sans: "Open Sans", Helvetica;
  }
  